Electricity Billing Optimization

In [1]:
# Data
customer_name = ['Andrew', 'Mike', 'Grace', 'Peter', 'Sarah', 'Asher', 'Mary', 'Paul', 'Rita', 'Aaron']
units_used = [245, 600, 380, 720, 150, 520, 460, 310, 800, 270]
connection_type = ['Domestic', 'Commercial', 'Domestic', 'Commercial', 'Domestic',
         'Commercial', 'Domestic', 'Domestic', 'Commercial', 'Domestic']

In [2]:
#Use zip() and map() with lambda to compute total bills
bills = list(map(lambda x: 820*x[1] if x[2]=='Domestic' else 1000*x[1],
                 zip(customer_name, units_used, connection_type)))
bills

[200900,
 600000,
 311600,
 720000,
 123000,
 520000,
 377200,
 254200,
 800000,
 221400]

In [3]:
#Pair names with bills
pair = list(zip(customer_name, bills))

# 1.2 Filter customers who used more than 500 units
high_consumption = list(filter(lambda x: x[1] > 500, zip(customer_name, units_used)))
high_consumption

[('Mike', 600), ('Peter', 720), ('Asher', 520), ('Rita', 800)]

In [4]:
# using args to write average_bills

def average_bill(*bills):
    return sum(bills) / len(bills)

avg = average_bill(*bills)
avg

412830.0

In [5]:
# display results using list comprehension.
display = [f"{n}: UGX {b}" for n, b in pair]

print(display)
print("High Consumptions:", high_consumption)
print("Average bill: UGX", avg)

['Andrew: UGX 200900', 'Mike: UGX 600000', 'Grace: UGX 311600', 'Peter: UGX 720000', 'Sarah: UGX 123000', 'Asher: UGX 520000', 'Mary: UGX 377200', 'Paul: UGX 254200', 'Rita: UGX 800000', 'Aaron: UGX 221400']
High Consumptions: [('Mike', 600), ('Peter', 720), ('Asher', 520), ('Rita', 800)]
Average bill: UGX 412830.0

Market Basket Price Aggregator

In [6]:
# Fruit Prices
from itertools import zip_longest
mango_prices = [2500, 2700, 2600, 2800]
orange_prices = [3000, 3200, 3100, 3050]
apple_prices = [4500, 4600, 4550, 4700]

In [7]:
# use zip_longest to handle missing prices
Fruit_prices = list(zip_longest(mango_prices, orange_prices, apple_prices, fillvalue=0))
Fruit_prices

[(2500, 3000, 4500),
 (2700, 3200, 4600),
 (2600, 3100, 4550),
 (2800, 3050, 4700)]

In [8]:
#  lambda funcion avg to compute avearge function

average = lambda lst: sum(lst) / len(lst)
average

In [9]:
# average price above 3000
fruits = {'Mango': average(mango_prices), 'Orange': average(orange_prices), 'Apple': average(apple_prices)}
above = (f for f, p in fruits.items() if p > 3000)

In [10]:
# fruits above average price
print("Fruits Above Average Price:", ", ".join(above))

Fruits Above Average Price: Orange, Apple

District Temperature Tracker

In [11]:
# Installment_data
students = ['Alex', 'Grace', 'Sarah', 'Brian']
installments = [
[150000, 200000, 250000],
[500000, 0, 200000],
[300000, 300000, 300000],
[400000, 100000, 0]]

In [12]:
# lambda function that sums valid payments and ignores zeros
valid_payments = lambda lst: sum(i for i in lst if i > 0)
valid_payments

In [13]:
# use map() to compute total paid by each student
total = list(map(valid_payments, installments))
total

[600000, 700000, 900000, 500000]

In [14]:
# combine student names and totals using zip()
combined = list(zip(students, total))
combined

[('Alex', 600000), ('Grace', 700000), ('Sarah', 900000), ('Brian', 500000)]

In [15]:
# cleared full fees using filter()

cleared = list(filter(lambda x: x[1] >= 600000, combined))
cleared

[('Alex', 600000), ('Grace', 700000), ('Sarah', 900000)]

In [16]:
# payment summary using kwargs
def payment_summary(**kwargs):
    for name, amount in kwargs.items():
        print(f"{name} paid UGX {amount:,}")
print("All Payments:", combined)
print("Cleared Students:", cleared)

All Payments: [('Alex', 600000), ('Grace', 700000), ('Sarah', 900000), ('Brian', 500000)]
Cleared Students: [('Alex', 600000), ('Grace', 700000), ('Sarah', 900000)]

Agricultural Yield Estimator

In [17]:
# Yield data:
districts = ['Bushenyi', 'Mityana', 'Kasese', 'Mbale']
yield_data = [1200, 1500, 900, 1300]

In [18]:
# convert from kg to tons
tons = list(map(lambda y: y/1000, yield_data))
tons

[1.2, 1.5, 0.9, 1.3]

In [19]:
# yield > 1 ton
gen2 = (d for d, t in zip(districts, tons) if t > 1)
gen2

In [20]:
# average yield
def avg_yield(*args):
    return sum(args)/len(args)
avg = avg_yield(*tons)
avg

1.225

In [21]:
# formatted output
prices = {'Bushenyi': 4000000, 'Mityana': 4500000, 'Kasese': 5000000, 'Mbale': 4200000}
revenue = {d: tons[i]*prices[d] for i, d in enumerate(districts)}
print("Q5 Results:")
for d, t in zip(districts, tons):
    print(f"{d} produced {t} tons — Revenue: UGX {revenue[d]:,}")
print("Average Yield:", avg, "tons")
print("Districts above 1 ton:", ", ".join(gen2))

Q5 Results:
Bushenyi produced 1.2 tons — Revenue: UGX 4,800,000.0
Mityana produced 1.5 tons — Revenue: UGX 6,750,000.0
Kasese produced 0.9 tons — Revenue: UGX 4,500,000.0
Mbale produced 1.3 tons — Revenue: UGX 5,460,000.0
Average Yield: 1.225 tons
Districts above 1 ton: Bushenyi, Mityana, Mbale

Web Data Aggregation

In [22]:
from urllib.request import urlopen

In [23]:
# function that takes *urls and uses requests.get()

sites = ['https://ucu.ac.ug', 'https://harba.ug', 'https://www.bou.or.ug']
sites

['https://ucu.ac.ug', 'https://harba.ug', 'https://www.bou.or.ug']

In [24]:

# list comprehension to print status code
status = []
for s in sites:
    try:
        status.append(urlopen(s).getcode())
    except:
        status.append(None)

In [25]:
# using dictionary comprehension for storage
site_status = {url: code for url, code in zip(sites, status)}

In [26]:
 # generator expression for active sites
active = [u for u, c in zip(sites, status) if c == 200]

# Display
for site in active:
    print(site)

https://ucu.ac.ug
https://harba.ug
https://www.bou.or.ug